{include file="../application/admin/view/public/_meta.html"}
<!-- <?php
echo $_GET['id'];
?> -->
<title>修改密码</title>
</head>
<body>
<div class="pd-20">
  <form class="Huiform" id="form-admin-edit" onsubmit="return false;">
    <table class="table table-border table-bordered table-bg">
      <thead>
        <tr>
          <th colspan="2">修改密码</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-r">用户名：</th>
          <td><input name="username" id="username" class="input-text" type="text" autocomplete="off" disabled="" value="{$user[$uid]['user_name']}" > 
            <input type="hidden" name="" id="uid" value="{$user[$uid]['id']}">
          </td>
        </tr>
        <tr>
        <tr>
          <th class="text-r">新密码：</th>
          <td><input name="newpassword" id="newpassword" class="input-text" type="password" autocomplete="off" placeholder="设置密码(如果不需要更改密码可以空着,密码不会发生变化！)" tabindex="2" datatype="*6-16"  nullmsg="请输入您的新密码！" errormsg="4~16个字符，区分大小写！" > 
          </td>
        </tr>
        <tr>
          <th class="text-r">再次输入新密码：</th>
          <td><input name="newpassword2" id="newpassword2" class="input-text" type="password" autocomplete="off" placeholder="确认新密码(如果不需要更改密码可以空着，密码不会发生变化！)" tabindex="3" datatype="*" recheck="newpassword" nullmsg="请再输入一次新密码！" errormsg="您两次输入的新密码不一致！"> 
          </td>
        </tr>
        <?php if($user[$uid]['id']!=1):?>
        <tr>
          <th class="text-r">角色：</th>
          <td>
            
              <!-- <select class="select" name="adminRole" id="adminRole" size="1">
                
              </select> -->
              
              {volist name="role" id="vo"}
              {if  condition= "$is_root neq ''"}
              {if  condition= "$vo['role_name'] eq '超级管理员'"}
                <label>
                <input type="checkbox" disabled="" value="{$vo['id']}" name="adminRole" id="" {php}if(in_array($vo['id'],$role_array)){echo 'checked';}{/php}>
                {$vo['role_name']}
                </label>
              {/if}
              {else/}
              {if  condition= "$vo['role_name'] neq '超级管理员'"}
                <label>
                <input type="checkbox" value="{$vo['id']}" name="adminRole" id="" {php}if(in_array($vo['id'],$role_array)){echo 'checked';}{/php}>
                {$vo['role_name']}
                </label>
              {/if}
              {/if}
              {/volist}
          </td>
        </tr>
        <?php endif;?>
        <tr>
          <th></th>
          <td>
            <button type="submit" class="btn btn-success radius" id="admin-password-save" name="admin-password-save"><i class="icon-ok"></i> 确定</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script> 
<!-- <script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script> 
<script type="text/javascript" src="layer/layer.min.js"></script> 
<script type="text/javascript" src="js/H-ui.js"></script> 
<script type="text/javascript" src="js/H-ui.admin.js"></script> 
<script type="text/javascript" src="js/hui-form.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
// $(".Huiform").Validform(); 
$('#admin-password-save').click(function(){
  var newpassword = $('#newpassword').val();
  var newpassword2 = $('#newpassword2').val();
  // var role = $('#adminRole').val();
  var id = $('#uid').val();
  var arr = new Array();
          $("input[name='adminRole']:checked").each(function(i){
              arr[i] = $(this).val();
          });
          var role = arr.join(",");
  $.ajax({
        url:'edit',
        type:'post',
        data:{'id':id,'newpassword':newpassword,'newpassword2':newpassword2,'role':role},
        success:function(msg){
          if (msg.status != 200) {
            layer.alert(msg.msg,{icon:5,time:1000});
          }
          else{
            layer.msg(msg.msg,{icon:6,time:1000,end:function(){
              parent.location.reload();
            }});
            
            // var index = parent.layer.getFrameIndex(window.name);
            // setTimeout(parent.layer.close(index),2000);
            
            // location.href='lst';
          } 
        }


      });
});

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>