<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">

		{php}$data =model('admin')->getBtns();
		{/php}


		<?php foreach($data as $k=>$v):?>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i>{$v['pri_name']} <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<?php foreach($v['children'] as $k1=>$v1):?>
					<?php $url =$v1['controller_name'].'/'.$v1['action_name']; $url=url($url);?>
					<li><a data-title="{$v1['pri_name']}" data-href="{$url}" href="javascript:void(0)">{$v1['pri_name']}</a></li>
					<?php endforeach;?>
			</ul>
		</dd>
	</dl>
		<?php endforeach;?>


</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
