body {
  background-color: #f8fafd;
  background-image: url('../images/background.svg');
  background-position: 50% 0px;
  background-size: cover;
  font-family: Montserrat, sans-serif;
  color: #677897;
  font-size: 18px;
  line-height: 1.8;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #4f5d73;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #4f5d73;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

.c-login {
  max-width: auto;
  min-width: 1024px ;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 24px 0 hsla(1, 87%, 76%, .06);
}

.l-flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-flex-center.is--full {
  display: block;
  min-height: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-style: none;
}

.c-login__title {
  display: block;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  float: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.c-login__body {
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  color: #4b4b4b;
}

.c-login__submit {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: right;
  border-radius: 100px;
  background-image: -webkit-linear-gradient(45deg, #102397, #187adf 50%, #00eaf8);
  background-image: linear-gradient(45deg, #102397, #187adf 50%, #00eaf8);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 900;
  text-align: center;
}

.c-login__submit:hover {
  background-color: #4f5d73;
}

.c-link {
  color: #1455c0;
}

.c-link.is--light {
  color: #fff;
}

.c-login__subtext {
  margin-bottom: 1rem;
  font-size: 14px;
}

.c-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-login__input {
  border: 1px solid #d0dde0;
  border-radius: 10px;
}

.c-button {
  width: 100%;
  max-width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #fecfd2;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-weight: 900;
  text-align: center;
}

.c-button:hover {
  background-color: #4f5d73;
}

.c-hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.c-hero__image {
  padding: 1rem;
}

.c-navbar {
  background-color: #fef7f7;
}

.c-navbar__brand {
  height: 100%;
  padding-top: 20px;
}

.is--bold {
  font-weight: 900;
}

.c-navbar__link {
  font-weight: 900;
}

.c-navbar__link.w--current {
  color: #f7d1d3;
}

.c-drop {
  margin-bottom: 1rem;
}

.c-drop__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 86%, .65);
  cursor: pointer;
}

.c-drop__title-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  font-weight: 900;
}

.c-drop__content {
  overflow: hidden;
  height: 0px;
  background-color: #fff;
}

.c-drop__text {
  margin-bottom: 0px;
  padding: 1rem;
}

.s-footer {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7d1d3;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.c-faq {
  margin: 2rem auto;
}

.navbar {
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.nav-link {
  padding: 10px;
  font-size: 14px;
}

.image {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.nav-link-2 {
  font-size: 14px;
}

.nav-link-3 {
  font-size: 14px;
}

.text-block {
  font-size: 14px;
}

.nav-link-4 {
  font-size: 14px;
}

.image-2 {
  max-height: 50px;
}

.navbar-2 {
  margin-right: 100px;
  margin-left: 100px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.container-2 {
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.submit-button {
  height: 40px;
  border-radius: 20px;
  background-color: #4f5d73;
  background-image: -webkit-linear-gradient(270deg, #4f5d73, #4f5d73);
  background-image: linear-gradient(180deg, #4f5d73, #4f5d73);
  font-size: 14px;
  text-align: left;
}

.text-block-2 {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: 700;
  text-align: left;
}

.text-block-2.channel_label {
  border: 1px none #000;
}

.row {
  height: 50px;
  border: 1px none #000;
  background-image: -webkit-linear-gradient(270deg, rgba(94, 207, 252, .5), rgba(94, 207, 252, .5));
  background-image: linear-gradient(180deg, rgba(94, 207, 252, .5), rgba(94, 207, 252, .5));
  font-size: 16px;
}

.channel_label {
  margin-right: 5px;
  float: left;
  font-weight: 700;
}

.text-block-3 {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}

.text-block-3.channel_text {
  background-image: none;
  color: #0a86f8;
  font-weight: 600;
}

.text-block-4 {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  line-height: 1.2;
}

.column {
  font-size: 12px;
}

.link {
  margin-top: 5px;
  margin-right: 2px;
  padding: 5px 20px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(270deg, orange, orange);
  background-image: linear-gradient(180deg, orange, orange);
  font-size: 14px;
  font-weight: 600;
}

.link-2 {
  margin: -6px 5px 5px;
  padding: 6px 8px;
  border-radius: 20px;
  font-size: 10px;
  text-align: left;
}

.text-block-5 {
  display: inline-block;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}

.text-block-6 {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
}

.text-block-7 {
  font-size: 14px;
}

.div-block {
  height: 2px;
}

.div-block-2 {
  height: 2px;
}

.div-block-3 {
  height: 20px;
}

.column-2 {
  margin-top: 10px;
  line-height: 1;
}

.div-block-4 {
  height: 5px;
}

.row-2 {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 22px;
}

.row-2.channel-row {
  margin-top: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.field-label {
  margin-top: 20px;
  margin-bottom: auto;
}

.dropdown-toggle {
  padding-top: auto;
  padding-bottom: auto;
}

.text-block-8 {
  font-size: 14px;
}

.dropdown-link {
  font-size: 14px;
}

.bold-text {
  display: block;
  font-weight: 400;
}

.bold-text-2 {
  font-size: 18px;
  font-weight: 500;
}

.column-3 {
  height: 50px;
  padding-left: auto;
}

.column-4 {
  padding-right: auto;
  padding-left: auto;
}

.submit-button-2 {
  margin-right: 40px;
  float: right;
  border-radius: 10px;
  background-color: #299be7;
  background-image: -webkit-linear-gradient(0deg, #000, #fff);
  background-image: linear-gradient(90deg, #000, #fff);
}

.export_csv_submit {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: auto;
  float: right;
  border-radius: 100px;
  background-image: -webkit-linear-gradient(45deg, #102397, #187adf 36%, #00eaf8);
  background-image: linear-gradient(45deg, #102397, #187adf 36%, #00eaf8);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.export_csv_submit:hover {
  background-color: #4f5d73;
}

.text-field {
  border: 2px solid grey;
  border-radius: 10px;
}

.channel-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.channel-row.doctors-row {
  border-style: none none solid;
  border-bottom-width: 2px;
  border-bottom-color: #0a86f8;
}

.image-3 {
  border: 2px solid #000;
}

.qrcode {
  border: 2px solid grey;
  border-radius: 10px;
}

.column-5 {
  border: 0px solid #000;
}

.div-block-5 {
  border-color: #06a3fc;
}

.roles {
  display: inline-block;
  font-size: 14px;
}

.section {
  display: block;
  max-width: auto;
  min-width: auto;
  float: none;
}

.text-block-9 {
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .c-hero__image {
    text-align: center;
  }
  .c-hero__text {
    text-align: center;
  }
  .channel_label {
    font-size: 12px;
  }
  .text-block-3 {
    font-size: 12px;
  }
  .link {
    font-size: 12px;
  }
  .text-block-5 {
    font-size: 10px;
  }
  .text-block-6 {
    font-size: 12px;
  }
  .div-block-3 {
    height: 50px;
  }
  .export_csv_submit {
    font-size: 14px;
  }
  .column-5 {
    font-size: 10px;
  }
  .roles {
    font-size: 12px;
  }
  .text-block-15 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .c-login {
    min-width: 450px;
  }
  .channel_label {
    font-size: 12px;
  }
  .text-block-3 {
    display: inline-block;
  }
  .link {
    font-size: 12px;
  }
  .text-block-5 {
    font-size: 10px;
  }
  .text-block-6 {
    display: inline-block;
    font-size: 10px;
  }
  .row-2 {
    display: block;
  }
  .export_csv_submit {
    font-size: 14px;
  }
  .roles {
    font-size: 10px;
  }
  .text-block-15 {
    font-size: 20px;
  }
}

@media (max-width: 479px) {
  .c-login {
    min-width: 100%;
  }
  .l-flex-center {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .container {
    margin-right: -50px;
    margin-left: -50px;
  }
  .container-2 {
    display: block;
    margin-right: -50px;
    margin-left: -50px;
  }
  .text-block-2.channel_label {
    font-size: 10px;
  }
  .channel_label {
    font-size: 10px;
  }
  .text-block-3 {
    font-size: 10px;
  }
  .text-block-4 {
    font-size: 10px;
  }
  .link {
    font-size: 12px;
  }
  .text-block-5 {
    font-size: 10px;
  }
  .text-block-6 {
    font-size: 10px;
  }
  .field-label {
    font-size: 14px;
  }
  .bold-text-2 {
    font-size: 16px;
  }
  .export_csv_submit {
    font-size: 12px;
  }
  .text-field {
    font-size: 16px;
  }
  .roles {
    font-size: 10px;
  }
  .text-block-9 {
    font-size: 16px;
  }
  .text-block-10 {
    font-size: 16px;
  }
  .text-block-11 {
    font-size: 14px;
  }
  .checkbox-label {
    font-size: 14px;
  }
  .text-block-12 {
    font-size: 20px;
  }
  .field-label-2 {
    font-size: 16px;
  }
  .field-label-3 {
    font-size: 16px;
  }
  .field-label-4 {
    font-size: 16px;
  }
  .field-label-5 {
    font-size: 16px;
  }
  .field-label-6 {
    font-size: 16px;
  }
  .field-label-7 {
    font-size: 16px;
  }
  .text-block-13 {
    font-size: 20px;
  }
  .field-label-8 {
    font-size: 16px;
  }
  .field-label-9 {
    font-size: 16px;
  }
  .field-label-10 {
    font-size: 16px;
  }
  .field-label-11 {
    font-size: 16px;
  }
  .field-label-12 {
    font-size: 16px;
  }
  .radio-button-field {
    font-size: 16px;
  }
  .radio-button-field-2 {
    font-size: 16px;
  }
  .text-block-14 {
    font-size: 16px;
  }
  .field-label-13 {
    font-size: 14px;
  }
  .text-block-15 {
    font-size: 16px;
  }
  .text-block-16 {
    font-size: 16px;
  }
}

