<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/static/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="/static/css/alexs-login-project.webflow.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script>
        url_username = "<?php echo url('register/checkUser','','',true)?>";
        url_email = "<?php echo url('register/checkEmail','','',true)?>";
        url_phone = "<?php echo url('register/checkPhone','','',true)?>";
        url_login = "<?php echo url('login/index','','',true)?>";
        url_send_message="<?php echo url('register/sendMessage','','',true)?>";
        url_code="<?php echo url('register/checkVerifyCode','','',true)?>";
    </script>
    <script src="/static/js/form.js"></script>

    <style type="text/css">
        hid {display: none}
    </style>

</head>
<body>
<div>
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar-2 nav-container w-nav">
        <div class="container-2 w-container"><a href="#" class="w-nav-brand"><img src="../images/Logo_Kooa06.png" class="image-2"></a>
            <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link-2 w-nav-link">Home</a>
                <div data-delay="0" class="w-dropdown">
                    <div class="w-dropdown-toggle">
                        <div class="w-icon-dropdown-toggle"></div>
                        <div class="text-block">Language</div>
                    </div>
                    <nav class="w-dropdown-list"><a href="#" class="w-dropdown-link">English</a><a href="#" class="w-dropdown-link">Simplified Chinese</a><a href="#" class="w-dropdown-link">Traditional Chinese</a></nav>
                </div><a href="#" class="nav-link-4 w-nav-link">Contact</a></nav>
            <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="l-flex-center is--full w-container">
        <div class="c-login">
            <div class="c-login__title">
                <div>{$Think.lang.user} {$Think.lang.register}</div>
            </div>
            <div class="c-login__body">
                <div class="w-form">
                    <form role="form" method="post" id="reused_form" action="{:url('register/register')}">
                        <label for="login-2">{$Think.lang.username}:</label>
                        <div class="w-embed form-group">
                            <input class="w-input c-login__input form-control" type="text" placeholder="{$Think.lang.username}" name="username" id="username">
                        </div>
                        <label for="login-2">{$Think.lang.email}:</label>
                        <div class="w-embed form-group">
                            <input class="w-input c-login__input form-control" type="text" placeholder="{$Think.lang.email}" name="email" id="email">
                        </div>
                        <label for="login-2">区号：</label>
                        <div class="w-embed form-group">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%"><span class="regoin">+86</span>
                                <span class="caret" style="float: right;margin-top: 9px"></span>
                            </button>
                            <ul class="dropdown-menu phone-regoin" aria-labelledby="dropdownMenu1">
                            </ul>
                        </div>
                        <label for="login-2">{$Think.lang.phone}:</label>
                        <div class="w-embed form-group">
                            <input class="w-input c-login__input form-control" type="text" placeholder="{$Think.lang.phone}" name="phone" id="phone">
                        </div>
                        <label for="login-2">{$Think.lang.short_message}:</label>
                        <div class="w-embed form-group">
                            <input class="w-input c-login__input form-control" type="text" placeholder="{$Think.lang.short_message}" name="code" id="code">
                        </div>
                        <label for="email">发送短信:</label>
                        <div class="w-embed form-group">
                            <button type="button" name="sendMessage" class="btn  btn-success btn-block"
                                    id="sendMessage"> {$Think.lang.send_message}
                            </button>
                        </div>
                        <label for="password-3">{$Think.lang.password}:</label>
                        <div class="w-embed form-group">
                            <input class="w-input c-login__input form-control" type="password" placeholder="{$Think.lang.password}" name="password" id="password">
                        </div>
                        <label for="password-3">{$Think.lang.password2}:</label>
                        <div class="w-embed form-group">
                            <input class="w-input c-login__input" type="password" placeholder="{$Think.lang.password2}" name="confirm_password" id="confirm_password">
                        </div>
                        <div class="w-embed form-group">
                        <input type="submit" value="{$Think.lang.commit}" data-wait="Please wait..." class="c-login__submit w-button" name="btnContactUs" id="btnContactUs">
                        </div>
                        <div class="w-embed"><input type="hidden" name="action" value="reg2">
                            <input type="hidden" name="regcode" value="">
                        </div>
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/webflow.js" type="text/javascript"></script>
</body>
</html>

<script type="text/javascript">
    var user_not_null = "{$Think.lang.user_not_null}";
    var email_not_null = "{$Think.lang.email_not_null}";
    var phone_not_null = "{$Think.lang.phone_not_null}";
    var pass_not_null = "{$Think.lang.pass_not_null}";
    var pass2_not_null = "{$Think.lang.pass2_not_null}";
    var user_length = "{$Think.lang.user_length}";
    var user_rule = "{$Think.lang.user_rule}";
    var email_rule = "{$Think.lang.email_rule}";
    var user_exist = "{$Think.lang.user_exist}";
    var email_exist = "{$Think.lang.email_exist}";
    var phone_rule = "{$Think.lang.phone_rule}";
    var pass_length = "{$Think.lang.pass_length}";
    var user_both = "{$Think.lang.user_length}";
    var pass_rule = "{$Think.lang.pass_rule}";
    var two_pass_differ = "{$Think.lang.two_pass_differ}";
    var phone_exist="{$Think.lang.phone_exist}";

    var regoin = [
        { name: '中国', value: '+86' },
        { name: '中国香港特别行政区', value: '+852' },
        { name: '中国澳门特别行政区', value: '+853' },
        { name: '中国台湾地区', value: '+886' },
        { name: '英国', value: '+44' },
        { name: '美国', value: '+1' },
    ];

    var $regoin = $('.phone-regoin');
    for(var i = 0; i < regoin.length; i++){
        var item = regoin[i];
        $regoin.append('<li><a href="javascript:void(0)" data-value="'+item.value+'">'+item.value + item.name+'</a></li>')
    }
    // var selectVal =regoin[0],
    var $r = $('.regoin');
    $r.data('value', regoin[0]['value'].replace('+', ''));
    $regoin.on('click', 'a', function(e){
        var selectVal = $(this).data('value');
        $r.html(selectVal);
        $r.data('value', selectVal.replace('+', ''));
        // $('.regoin').data('value');
    });
</script>