<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/home.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
        url_addChannel="<?php echo url('/channel/addChannel')?>";
        url_deleteChannel="<?php echo url('/channel/deleteChannel')?>";
        data_channel="<?php echo session('userid') ?>";
        lang_channel_name="{$Think.lang.channel_empty}";
    </script>
<style type="text/css">
    table{
        font-size: 14px;
    }
</style>
</head>
<body>
    {include file="../application/index/view/public/_header2.html"}
<!-- <div class="container" style="margin-top: 60px;">
    <div class="container-fluid">
        <h1 class="text-center">{$Think.lang.channel_manager}</h1>
    </div>
    <div class="row">
        
        <div class="col-md-9 col-md-offset-1" id="content">
            <div>
                <form class="form-inline" onsubmit="return false">
                    <div class="form-group col-md-8">
                        <label for="channel_name" style="margin-left: -10px;margin-right: 10px">{$Think.lang.channel_name}</label>
                        <input type="text" class="form-control" name="channel_name" id="channel_name" required placeholder="{$Think.lang.channel_name}" style="width: 70%">
                    </div>
                    <button type="submit" id="addChannel" class="btn btn-default">{$Think.lang.add}</button>
                </form>
            </div>
            <div style="padding-top: 20px" >
                <table id="channel_list" class="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="align-content: center">{$Think.lang.channel_name}</th>
                        <th>{$Think.lang.url_code}</th>
                        <th>{$Think.lang.recommended_type}</th>
                        <th>{$Think.lang.operation}</th>
                    </tr>
                    </thead>
                    <tbody id="channel_list_tbody">
                    <?php foreach($data as $key=>$val):?>
                    <tr>
                        <td>{$val.channel_name}</td>
                        <td>
                        <?php foreach($val['url_code'] as $k=>$v):?>
                        {$v.role_name} {$v.url_code}<img width="100px" height="100px" src="<?php echo url('/channel/QrCode',['url_code'=>urlencode($v['url_code'])])?>"/>
                            </br>
                        <?php endforeach?>
                        </td>
                        <td>{$val['create_time']}</td>
                        <td>
                            <button type="button"  value="{$val.id}" class="btn btn-danger del">{$Think.lang.del}</button>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<!-- 分界线 -->
<div>
    <div class="l-flex-center is--full w-container">
      <div class="c-login">
        <div class="c-login__title">
          <div>{$Think.lang.channel_manager}</div>
        </div>
        <div class="c-login__body">
          <div class="w-form">
            <form id="wf-form-aform" name="wf-form-aform" data-name="aform" method="post">
              <div class="w-row">
                <div class="w-col w-col-3 w-col-small-4"><label for="first-name-2">{$Think.lang.channel_name}:</label></div>
                <div class="w-col w-col-6 w-col-small-4">
                  <div class="w-embed">
                    <input class="w-input c-login__input" type="textbox" name="channel_name" id="channel_name" placeholder="{$Think.lang.channel_name}">
                </div>
                </div>
                <div class="w-col w-col-3 w-col-small-4"><input type="submit" value="{$Think.lang.add} {$Think.lang.channel}" data-wait="Please wait..." id="addChannel" class="link w-button"></div>
              </div>
              <div class="w-embed"><input type="hidden" name="action" value="reg2">
                <input type="hidden" name="regcode" value=""></div>
              <div></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <div>
            <div class="row w-row">
              
            <table id="channel_list" class="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="text-align: center">{$Think.lang.channel}</th>
                        <th style="text-align: center;">{$Think.lang.role}</th>
                        <th style="text-align: center;">{$Think.lang.url_code} ({$Think.lang.click_to_copy})</th>
                        <th width="100" style="text-align: center;">{$Think.lang.qc_code}</th>
                        <th style="text-align: center;">{$Think.lang.create_time}</th>
                    </tr>
                    </thead>
                    <tbody id="channel_list_tbody">
                    <?php foreach($data as $key=>$val):?>
                    <tr>
                        <td style="text-align: center;">{$val.channel_name}<br><br><button type="button"  value="{$val.id}" class="link w-button del">{$Think.lang.del}</button></td>
                        <td style="text-align: center;width: 60px;">
                        {volist name="val['url_code']" id="vo"}
                        <div style="height: 100px;">
                            {$vo['role_name']}
                        </div>
                        <br/>
                        {/volist}
                        </td>
                        <td>
                        <?php foreach($val['url_code'] as $k=>$v):?>
                        <div style="height: 100px;" onclick="CopyUrl(this)">
                            {$v.url_code}
                            
                        </div>
                        </br>
                        <?php endforeach?>
                        </td>
                        <td style="text-align: center;">
                        {volist name="val['url_code']" id="va"}
                        <img width="100px" height="100px" src="<?php echo url('/channel/QrCode',['url_code'=>urlencode($va['url_code'])])?>"/>
                        <br>
                        {/volist}
                        </td>
                        <td>{$val['create_time']}</td>

                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
    $('#channel_list').dataTable({
        searching: false, //去掉搜索框方法
        bLengthChange: false,   //去掉每页显示多少条数据方法
        bAutoWidth: false,                   //是否启用自动适应列宽
        pageNumber: 1,            // 显示第几页数据，默认1
        iDisplayLength: 2,
        bSort:false,
    });

   var ok = "{$Think.lang.success}";
   var copy = "{$Think.lang.copy}";
   var fail = "{$Think.lang.fail}";

    function CopyUrl(obj) {
        //复制链接
        var textToClipboard = $(obj).html();

        var success = true;
        if (window.clipboardData) { // Internet Explorer
            window.clipboardData.setData ("Text", textToClipboard);
        }
        else {
                // create a temporary element for the execCommand method
            var forExecElement = CreateElementForExecCommand (textToClipboard);

                    /* Select the contents of the element 
                        (the execCommand for 'copy' method works on the selection) */
            SelectContent (forExecElement);

            var supported = true;

                // UniversalXPConnect privilege is required for clipboard access in Firefox
            try {
                if (window.netscape && netscape.security) {
                    netscape.security.PrivilegeManager.enablePrivilege ("UniversalXPConnect");
                }

                    // Copy the selected content to the clipboard
                    // Works in Firefox and in Safari before version 5
                success = document.execCommand ("copy", false, null);
            }
            catch (e) {
                success = false;
            }

                // remove the temporary element
            document.body.removeChild (forExecElement);
        }

        if (success) {
            alert (copy+' '+ok);
        }
        else {
            alert (copy+'$nbsp;'+fail);
        }
}

    function CreateElementForExecCommand (textToClipboard) {
        var forExecElement = document.createElement ("div");
            // place outside the visible area
        forExecElement.style.position = "absolute";
        forExecElement.style.left = "-10000px";
        forExecElement.style.top = "-10000px";
            // write the necessary text into the element and append to the document
        forExecElement.textContent = textToClipboard;
        document.body.appendChild (forExecElement);
            // the contentEditable mode is necessary for the  execCommand method in Firefox
        forExecElement.contentEditable = true;

        return forExecElement;
        }

        function SelectContent (element) {
            // first create a range
        var rangeToSelect = document.createRange ();
        rangeToSelect.selectNodeContents (element);

            // select the contents
        var selection = window.getSelection ();
        selection.removeAllRanges ();
        selection.addRange (rangeToSelect);
    }


</script>
</html>