<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container">
    <div class="container-fluid">
        <h1 class="text-center">用户个人信息</h1>
        <button class="glyphicon glyphicon-user" id="btn"></button>
    </div>
    <div class="row">
        <div class="col-md-2 " id="infocenter">
            <ul class="nav nav-pills nav-stacked ">
                <li role="presentation"><h3><a href="<?php echo url('home/index',['userid'=>session('userid')])?>"
                                               id="Profile">You Profile</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('channel/index',['userid'=>session('userid')])?>"
                                               id="channelmanager">ChannelManager</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('home/loginOut') ?>" id="loginout">login out</a>
                </h3></li>
            </ul>
        </div>
        <div class="col-md-3 col-md-offset-1" id="content">
            <div>
                <form role="form" method="post" id="reused_form" action="{:url('channel/addChannel',['userid'=>Session('userid')])}">
                    <div class="form-group">
                        <label for="channel"></label>
                        <input type="text" class="form-control" placeholder="Channel Name" id="channel" name="channel_name">
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
            <div style="padding-top: 20px">
                <?php foreach($data as $key=>$val):?>
                <div class="form-group">
                    <span>{$val.channel_name}</span> <label name="urlcode">{$val.url_code}</label>
                    <a name="del" href="{:url('channel/deleteChannel',['channel_id'=>$val.channel_id])}" />删除
                </div>
                <?php endforeach;?>
            </div>

        </div>
    </div>
</div>

</body>
</html>