<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <!--<script src="/static/js/form.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container">
    <div class="container-fluid">
        <h1 class="text-center">用户个人信息</h1>
        <button class="glyphicon glyphicon-user" id="btn"></button>
    </div>
    <div class="row">
        <div class="col-md-2 " id="infocenter">
            <ul class="nav nav-pills nav-stacked " >
                <li role="presentation"><h3>
                    <a href="javascript:;" id="personal">Personal Center</a></h3></li>
                <!--<li role="presentation"><h3><a href="#" id="profile">Profile</a></h3></li>-->
                <li role="presentation"><h3><a href="#" id="channel">Channel</a></h3></li>
            </ul>
        </div>
        <div class="col-md-7 col-md-offset-1" id="content">
            <form>
                <div class="form-group" >
                    <div class="col-md-5" style="margin-left: -15px;margin-bottom: 10px;">
                        <label for="FirstName">First name</label>
                        <input type="text" class="form-control"  placeholder="First name" name="first_name">
                    </div>
                   <div class="col-md-5 col-md-offset-2" style="margin-bottom: 10px;padding-left: 0px">
                        <label for="LastName">Last name</label>
                        <input type="text" class="form-control"  placeholder="Last name" name="last_name">
                   </div>
                </div>
                <div class="form-group">
                    <label for="Address">Home address</label>
                    <input type="text" class="form-control"  placeholder="Home address">
                </div>
                <div class="form-group">
                    <label for="wechat">Wechat</label>
                    <input type="text" class="form-control"  placeholder="Wechat">
                </div>
                <div class="form-group">
                    <label for="EmailAddress">Email address</label>
                    <input type="email" class="form-control"  placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="tel" class="form-control" placeholder="Phone" name="phone">
                </div>

                <div class="form-group">
                    <label for="Phone">Gender</label><br>
                    <label class="radio_inline">
                        <input type="radio" name="gender" value="1">Male
                    </label>
                    <label class="radio_inline">
                        <input type="radio" name="gender" value="0">Female
                    </label>
                </div>



                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>
<script>
    $("#btn").click(function () {
        $("#infocenter").toggle();
    });
    $("#personal").click(function () {
        $.post('{:url("index/personal")}','',function (data) {
            $("#content").html(data);
        });
    });

    $("#channel").click(function () {
        $.post('{:url("index/channel")}','',function (data) {
            $("#content").html(data);
        });
    });
</script>