<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script>
        lang_update_success="{$Think.lang.update_success}";
    </script>
</head>
<body>
    {include file="../application/index/view/public/_header2.html"}


<div class="l-flex-center is--full w-container">
      <div class="c-login">
        <div class="c-login__title">
          <div>{$Think.lang.you_profile}</div>
        </div>
        <div class="c-login__body">
          <div class="w-form">
            <form role="form" method="post" id="reused_form" action="{:url('home/updateProfile',['userid'=>session('userid')])}">
            <label for="first-name-2">{$Think.lang.first_name}:</label>
              <div class="w-embed">
                <input type="text" class="w-input c-login__input" placeholder="{$Think.lang.first_name}" id="firstname" name="first_name" value="{$data['first_name']}">
              </div>

            <label for="last-name-2">{$Think.lang.last_name}:</label>
              <div class="w-embed">
                <input type="text" class="w-input c-login__input" placeholder="{$Think.lang.last_name}" id="lastname" name="last_name" value="{$data['last_name']}">
            </div>

            <label for="last-name">{$Think.lang.home_address}:</label>
              <div class="w-embed">
                <input type="text" class="w-input c-login__input" placeholder="{$Think.lang.home_address}" id="address" name="address" value="{$data['address']}">
            </div>

            <label for="last-name">{$Think.lang.wechat}:</label>
              <div class="w-embed">
                <input type="text" class="w-input c-login__input" placeholder="{$Think.lang.wechat}" id="wechat" name="wechat" value="{$data['wechat']}">
            </div>

            <label for="last-name">{$Think.lang.gender}:</label>
              <div class="w-row">
                <div class="w-col w-col-6">
                  <div class="w-radio">
                    <input type="radio" class="w-radio-input" name="gender" id="gender" value="1" {$data['gender']==1?'checked':''}>

            <label for="Male" class="w-form-label">{$Think.lang.male}</label></div>
                </div>
                <div class="w-col w-col-6">
                  <div class="w-radio">
                    <input type="radio" class="w-radio-input" name="gender" id="gender1" value="0"
                               {$data['gender']==0?'checked':''}>

            <label for="Female" class="w-form-label">{$Think.lang.female}</label></div>
                </div>
              </div>
              <input type="submit" value="{$Think.lang.commit}" data-wait="Please wait..." class="c-login__submit w-button">
              <div class="w-embed">
                <input type="hidden" name="action" value="reg2">
                <input type="hidden" name="regcode" value=""></div>
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
