<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <style>
        body{
            background: url("/static/home/img/bg.jpg") no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    {include file="../application/index/view/public/_header.html"}
<div style="width: 100%;height: 100px; margin-top: 60px;">
    <h3 style="text-align: center">{$Think.lang.home_title}</h3>
</div>
<div style="margin-left: 100px">
    <ul class="nav nav-pills nav-stacked" style="width: 300px">
        <li role="presentation"><a href="/register/index/adminid/1/channelid/22">{$Think.lang.admin_code}</a></li>
        <li role="presentation"><a href="/register/index/userid/9/channelid/22">{$Think.lang.user_code}</a></li>
        <li role="presentation"><a href="{:url('/login')}">{$Think.lang.login_title}</a></li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript">
    
</script>