<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/form.js"></script>
</head>
<body>
<div style="width: 100%;height: 100px">
    <h3 style="text-align: center">网站首页</h3>
</div>
<div style="margin-left: 100px">
    <ul class="nav nav-pills nav-stacked" style="width: 300px">
        <li role="presentation"><a href="http://salesms.com/register/index/adminid/1/channelid/21">管理员推荐注册码</a></li>
        <li role="presentation"><a href="http://salesms.com/register/index/userid/9/channelid/22">用户推荐注册码</a></li>
        <li role="presentation"><a href="{:url('/login')}">已注册请登陆</a></li>
    </ul>
</div>
</body>
</html>