<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form name="loginForm" method="post" action="">
        <div>
            <label for="username">
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label for="pwd">
                <input type="password" name="pwd">
            </label>
        </div>
        <div>
            <input type="submit" value="登陆">
        </div>
    </form>
</div>

</body>
</html>