{extend name="../application/index/view/public/_header_layout.html" }

{block name="css"}
<link rel="stylesheet" href="/static/css/bootstrapValidator.min.css">
<style>
    .login .login-btn{
        font-weight: 900;
        width: 100%;
        font-size: 18px;
    }

    .has-feedback label ~ .form-control-feedback{
        margin-top: 12px;
    }

    .error{
        margin-bottom: 0;
        background-color: #ffdede;
        padding: 5px 20px;
        display: none;
    }
</style>

{/block}

{block name="body"}
<div class="container login from-container-custom" data-fade="true">
    <form role="form" action="{:url('login/login')}" method="post">
        <div class="row module-title">
            <div>KOOA - Sales Management System</div>
        </div>

        <div class="row form-group">
            <label class="label-title" for="username">
                {$Think.lang.login}
            </label>
            <input type="text" class="form-control" name="username" placeholder="{$Think.lang.username}|{$Think.lang.phone}"
                id="username">
        </div>

        <div class="row form-group">
            <label class="label-title" for="password">
                {$Think.lang.password}
            </label>

            <input type="password" class="form-control" name="password" placeholder="{$Think.lang.password}" id="password">
        </div>

        <div class="row">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Remember me</label>
        </div>

        <div class="row">
            <button type="submit" class="btn custom-btn login-btn" id="btnContactUs">{$Think.lang.login}</button>
        </div>


        <div class="row">
            {$Think.lang.forgot_pass}
            <a href="{:url('searchPass')}" role="button" target="_blank">{$Think.lang.forgot}</a>
        </div>

        <input type="hidden" name="__token__" value="{$Request.token}" />
        <input type="hidden" name="action" value="login">
        <input type="hidden" name="hide" value="">

    </form>

    <div class="row error">
        <div></div>
    </div>
</div>

{/block}

{block name="script"}
<script src="/static/js/bootstrapValidator.min.js"></script>
<script src="/static/js/login.js"></script>

<script>
    var imgurl = "<?php echo captcha_src();?>",
        checkCodeUrl = "<?php echo url('login/checkValidateCode','','',true)?>",
        indexurl = "<?php echo url('/home/index/userid/')?>",
        user_check = "{$Think.lang.user_not_null}",
        pass_check = "{$Think.lang.pass_not_null}",
        no_active = "{$Think.lang.no_active}",
        send_email_again = "{$Think.lang.send_email_again}";

    function send_email() {
        //发送邮件
        var username = $('#username').val();
        var password = $('#password').val();
        if (username == '') {
            alert(user_check);
        } else if (password == '') {
            alert(pass_check);
        } else {
            $.ajax({
                url: 'sendEmailAgain', //请求地址，html页面传过来的
                type: "post",
                data: {
                    'username': username,
                    'password': password
                },
                success: function (result) {
                    if (result.resp_code == 0) {
                        alert(result.msg);
                    } else {
                        alert(result.msg);
                    }
                }
            });
        }
    }
</script>

{/block}