<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/login.js"></script>
</head>
<body>
   {include file="../application/index/view/public/_header.html"}
   <div class="l-flex-center is--full w-container">
       <div class="c-login">
           <div class="c-login__title">
               <div>KOOA - Sales Management System</div>
           </div>
   <div class="l-flex-center is--full w-container">
       <div class="c-login">
           <div class="c-login__body">
               <div class="w-form">
                   <form id="reused_form" action="{:url('login/login')}" name="wf-form-aform" data-name="aform" method="post" >
                           <input type="hidden" name="__token__" value="{$Request.token}"/>
                       <label for="login">{$Think.lang.login}</label>
                       <input type="text" class="c-login__input w-input" maxlength="256" id="username" name="username" data-name="login"   required="" placeholder="{$Think.lang.username}|{$Think.lang.email}|{$Think.lang.phone}：">
                       <label for="password-2">{$Think.lang.password}</label>
                       <input type="password" class="c-login__input w-input" maxlength="256" name="password" data-name="password" placeholder="{$Think.lang.password}:" id="password" required="">
                       <div class="w-checkbox">
                           <input type="checkbox" id="Remember" name="Remember" data-name="Remember" class="w-checkbox-input"><label for="Remember" class="w-form-label">Remember me</label>
                       </div>
                       <input type="submit" value="Enter" data-wait="Please wait..." class="c-login__submit w-button">
                       <div>
                           <!--Lost your username or password? <a href="../authpro/lost-password.html" class="c-link">Find it here!</a>-->
                           <div class="col-sm-6 form-group">
                               <a  href="{:url('searchPass')}" role="button" target="_blank">{$Think.lang.forgot}</a>
                           </div>
                       </div>

                       <div class="w-embed">
                           <input type="hidden" name="action" value="login">
                           <input type="hidden" name="hide" value="">
                       </div>
                   </form>
                   <div class="w-form-done">
                       <div>Thank you! Your submission has been received!</div>
                   </div>
                   <div class="w-form-fail">
                       <div>Oops! Something went wrong while submitting the form.</div>
                   </div>
               </div>
           </div>
       </div>
   </div>
       </div>
   </div>
<script>
    imgurl = "<?php echo captcha_src();?>";
    checkCodeUrl = "<?php echo url('login/checkValidateCode','','',true)?>";
    indexurl="<?php echo url('/home/index/userid/')?>";
    user_check = "{$Think.lang.user_not_null}";
    pass_check = "{$Think.lang.pass_not_null}";
</script>
</body>
</html>