<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <style>
        @media screen and (max-width: 990px) {
            .search-btn{
                width: 100%;
            }
        }
        .search-container{
            margin-bottom: 30px;
        }
        .search-container > div{
            margin-bottom: 10px;
        }

        .table tbody tr:nth-child(odd){
            background-color: #90cf96;
        }

    </style>

</head>
<body>
<div class="container">
    <div class="container-fluid">
        <h1 class="text-center">用户管理</h1>
        <button class="glyphicon glyphicon-user" id="btn"></button>
    </div>
    <div class="row">
        <div class="col-md-2 " id="infocenter">
            <ul class="nav nav-pills nav-stacked ">
                <li role="presentation"><h3><a href="<?php echo url('home/index',['userid'=>session('userid')])?>"
                                               id="Profile">个人信息</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('channel/index',['userid'=>session('userid')])?>"
                                               id="channelmanager">渠道管理</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('referrer/index',['userid'=>session('userid')])?>"
                                               id="Referrer">推荐人列表</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('login/loginOut') ?>" id="loginout">退出登录</a>
                </h3></li>
            </ul>
        </div>

        <div class="col-md-7 col-md-offset-1" id="content">
            <div class="form-group search-container">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="姓"
                           name="firstname" value="">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="名" name="lastname"
                           value="">
                </div>
                <div class="col-md-4">

                    <input type="text" class="form-control" placeholder="用户名"
                           name="username" value="">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="渠道" name="channel_name"
                           value="">
                </div>

                <div class="col-md-4">
                    <button class="search-btn btn btn-primary">Search</button>
                </div>
            </div>
            <table class="table" style="width: 100%">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>渠道名</th>
                        <th>姓</th>
                        <th>名</th>
                        <th>注册时间</th>
                    </tr>
                </thead>
                <tbody>
                <?php foreach($data as $key=>$val):?>
                <?php foreach($val as $k=>$v):?>
                <tr>
                    <td>{$v['user_name']}</td>
                    <td>{$v['channel_name']}</td>
                    <td>{$v['first_name']}</td>
                    <td>{$v['last_name']}</td>
                    <td>{$v['create_time']}</td>
                </tr>
                <?php endforeach;?>
                <?php endforeach;?>
                </tbody>
            </table>
            </form>
        </div>
    </div>

</div>
</body>
</html>
