<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="/static/js/home.js"></script>
    <script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <style>
        @media screen and (max-width: 990px) {
            .search-btn {
                width: 100%;
            }
        }

        .search-container {
            margin-bottom: 30px;
        }

        .search-container > div {
            margin-bottom: 10px;
        }

        .table tbody tr:nth-child(odd) {
            background-color: #90cf96;
        }

        .container {
            margin-top: 50px;
        }

    </style>
    <script>
        url_search = "<?php echo url('/referrer/search')?>";
    </script>
</head>
<body>
{include file="../application/index/view/public/_header.html"}
<div class="container">
    <div class="container-fluid">
        <h1 class="text-center">{$Think.lang.referrer_manager}</h1>
        <button class="glyphicon glyphicon-user" id="btn"></button>
    </div>
    <div class="row">
        <div class="col-md-2 " id="infocenter">
            <ul class="nav nav-pills nav-stacked ">
                <li role="presentation"><h3><a href="<?php echo url('home/index',['userid'=>session('userid')])?>"
                                               id="Profile">{$Think.lang.you_profile}</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('channel/index',['userid'=>session('userid')])?>"
                                               id="channelmanager">{$Think.lang.channel_manager}</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('referrer/index',['userid'=>session('userid')])?>"
                                               id="Referrer">{$Think.lang.referrer_manager}</a></h3></li>
                <li role="presentation"><h3><a href="<?php echo url('login/loginOut') ?>" id="loginout">{$Think.lang.login_out}</a>
                </h3></li>
            </ul>
        </div>

        <div class="col-md-7 col-md-offset-1" id="content">
            <div class="form-group search-container">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="{$Think.lang.first_name}" name="first_name" id="first_name">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="{$Think.lang.last_name}" name="last_name" id="last_name">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="{$Think.lang.username}" name="username" id="username">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="{$Think.lang.channel_name}" name="channel_name" id="channel_name">
                </div>
                <div class="col-md-4">
                    <button id="search" class="search-btn btn btn-primary">{$Think.lang.search}</button>
                </div>
            </div>
            <table id="referrer_list" class="table" style="width: 100%">
                <thead>
                <tr>
                    <th>{$Think.lang.username}</th>
                    <th>{$Think.lang.channel_name}</th>
                    <th>{$Think.lang.first_name}</th>
                    <th>{$Think.lang.last_name}</th>
                    <th>{$Think.lang.create_time}</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($data as $key=>$val):?>
                <?php foreach($val as $k=>$v):?>
                <tr>
                    <td>{$v['user_name']}</td>
                    <td>{$v['channel_name']}</td>
                    <td>{$v['first_name']}</td>
                    <td>{$v['last_name']}</td>
                    <td>{$v['create_time']}</td>
                </tr>
                <?php endforeach;?>
                <?php endforeach;?>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
<script>
    $('#referrer_list').dataTable({
        searching: false, //去掉搜索框方法
        bLengthChange: false,   //去掉每页显示多少条数据方法
        bAutoWidth: false,                   //是否启用自动适应列宽
        pageNumber: 1,            // 显示第几页数据，默认1
        iDisplayLength: 5,
        bSort: false,
        bDestroy: true,
        bPaginate: true,
    });
</script>
</html>
