<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Register</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script>
        url_username = "<?php echo url('register/checkUser','','',true)?>";
        url_email = "<?php echo url('register/checkEmail','','',true)?>";
        url_phone = "<?php echo url('register/checkPhone','','',true)?>";
        url_login = "<?php echo url('login/index','','',true)?>";
        url_send_message="<?php echo url('register/sendMessage','','',true)?>";
        url_code="<?php echo url('register/checkVerifyCode','','',true)?>";
    </script>
    <script src="/static/js/form.js"></script>
</head>
<body>
{include file="../application/index/view/public/_header.html"}
<div class="container" style="margin: 60px 0 0 0">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>{$Think.lang.user} {$Think.lang.register}</h2>
            <form role="form" method="post" id="reused_form" action="{:url('register/register')}">
                {:token()}
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="username"></label>
                        <input type="text" placeholder="{$Think.lang.username}:" class="form-control" id="username"
                               name="username">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="email"> </label>
                        <input type="text" placeholder="{$Think.lang.email}:" class="form-control" id="email"
                               name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width: 100%"><span class="regoin">+86</span>
                            <span class="caret" style="float: right;margin-top: 9px"></span>
                        </button>
                        <ul class="dropdown-menu phone-regoin" aria-labelledby="dropdownMenu1">
                        </ul>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="{$Think.lang.phone}:" class="form-control" id="phone"
                               name="phone">
                    </div>
                </div>
                <div class="row" style="display: none">
                    <div class="col-sm-6 form-group">
                        <input type="text" placeholder="{$Think.lang.short_message}" class="form-control" id="code" name="code">
                    </div>
                    <div class="col-sm-6 form-group">
                        <button type="button" name="btnContactUs" class="btn  btn-success btn-block"
                                id="sendMessage"> {$Think.lang.send_message}
                        </button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input type="password" placeholder="{$Think.lang.password}:" class="form-control" id="password"
                               name="password">
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="password" placeholder="{$Think.lang.password2}:" class="form-control"
                               id="confirm_password"
                               name="confirm_password">
                    </div>
                </div>
                <div>
                    <div class="col-sm-12 form-group">
                        <button type="submit" name="btnContactUs" class="btn btn-lg btn-success btn-block"
                                id="btnContactUs">{$Think.lang.commit}
                        </button>
                    </div>
                </div>
            </form>
            <div id="success_message" style="width:100%; height:100%; display:none; "><h3>Sent your message
                successfully! Please activate your account to your mailbox </h3></div>
            <div id="error_message" style="width:100%; height:100%; display:none; "><h3>Error</h3> Sorry there was an
                error sending your form.
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    var user_not_null = "{$Think.lang.user_not_null}";
    var email_not_null = "{$Think.lang.email_not_null}";
    var phone_not_null = "{$Think.lang.phone_not_null}";
    var pass_not_null = "{$Think.lang.pass_not_null}";
    var pass2_not_null = "{$Think.lang.pass2_not_null}";
    var user_length = "{$Think.lang.user_length}";
    var user_rule = "{$Think.lang.user_rule}";
    var email_rule = "{$Think.lang.email_rule}";
    var user_exist = "{$Think.lang.user_exist}";
    var email_exist = "{$Think.lang.email_exist}";
    var phone_rule = "{$Think.lang.phone_rule}";
    var pass_length = "{$Think.lang.pass_length}";
    var user_both = "{$Think.lang.user_length}";
    var pass_rule = "{$Think.lang.pass_rule}";
    var two_pass_differ = "{$Think.lang.two_pass_differ}";
    var phone_exist="{$Think.lang.phone_exist}";

    var regoin = [
        { name: '中国', value: '+86' },
        { name: '中国香港特别行政区', value: '+852' },
        { name: '中国澳门特别行政区', value: '+853' },
        { name: '中国台湾地区', value: '+886' },
        { name: '英国', value: '+44' },
        { name: '美国', value: '+1' },
    ];

    var $regoin = $('.phone-regoin');
    for(var i = 0; i < regoin.length; i++){
        var item = regoin[i];
        $regoin.append('<li><a href="javascript:void(0)" data-value="'+item.value+'">'+item.value + item.name+'</a></li>')
    }
    // var selectVal =regoin[0],
    var $r = $('.regoin');
    $r.data('value', regoin[0]['value'].replace('+', ''));
    $regoin.on('click', 'a', function(e){
        var selectVal = $(this).data('value');
        $r.html(selectVal);
        $r.data('value', selectVal.replace('+', ''));
        // $('.regoin').data('value');
    });
</script>