<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Search Password</h2>
            <form role="form" onsubmit="return false;">
                <input type="hidden" name="__token__" value="{$Request.token}"/>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="username"></label>
                        <input type="text" placeholder="You User：" class="form-control" id="username" name="username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="email"></label>
                        <input type="text" placeholder="You Email：" class="form-control" id="email" name="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="verify"></label>
                        <input type="text" placeholder="Verification Code" class="form-control" id="verify" name="verify">

                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="verify"></label>
                        
                        <button class="btn btn-lg btn-success btn-block" style="width:160px;height: 45px;" id="send_email">发送短信验证码</button>
                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <!-- <a  href="#" role="button">Forgot Password</a> -->
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-lg btn-success btn-block" id="commit">提交</button>
                    </div>
                </div>
            </form>
            <div id="success_message" style="width:100%; height:100%;"></div>
            </div>
        </div>
    </div>
</div>
<script>
$(function () {
    $('form').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                message: '用户名验证失败',
                validators: {
                    notEmpty: {
                        message: '用户名不能为空'
                    }
                }
            },
            email: {
                message: '邮箱验证失败',
                validators: {
                    notEmpty: {
                        message: '邮箱不能为空'
                    }
                }
            },
            verify: {
                validators: {
                    notEmpty: {
                        message: '验证码'
                    },
                    verbose: false,
                    threshold: 4,
                    remote: {
                        url: 'checkResetCode',//验证地址
                        message: '验证码不正确',//提示消息
                        delay: 2000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                        type: 'POST'//请求方式
                        /**自定义提交数据，默认值提交当前input value
                         *  data: function(validator) {
                               return {
                                   password: $('[name="passwordNameAttributeInYourForm"]').val(),
                                   whatever: $('[name="whateverNameAttributeInYourForm"]').val()
                               };
                            }
                         */
                    }
                }
            },
                    }
    }).on('success.form.bv', function (e) {
        // Prevent form submission
        // e.preventDefault();
        // // Get the form instance
        // var $form = $(e.target);
        // // Get the BootstrapValidator instance
        // var bv = $form.data('bootstrapValidator');
        // // Use Ajax to submit form data
        // $.post($form.attr('action'), $form.serialize(), function (result) {
        //     console.log(result);
        // }, 'json');
    });
    
});


var time = 5;
var timer = '';
$('#send_email').click(function(){
    //发邮件
    var username = $('#username').val();
    var email = $('#email').val();
    $('#send_email').attr('disabled',true);
    timer = setInterval(time_read,1000);
    
        $.ajax({
            url:'sendEmail',
            type:'post',
            data:{'username':username,'email':email},
            success:function(msg){
                if (msg.msg != '') {
                    $('#success_message').html('<h3>'+msg.msg+'</h3>');
                }
            }
        });
});
function time_read(){
    //倒数
    if (time >0) {
        time = time -1;
        $('#send_email').html(time+'s');
    }
    if (time == 0) {
        $('#send_email').html('重新发送');
        $('#send_email').attr('disabled',false);
        clearInterval(timer); 
        time = 5;
    }
    
    
}
$('#commit').click(function(){
    //提交验证码
    var username = $('#username').val();
    var email = $('#email').val();
    var code = $('#verify').val();
    $.ajax({
            url:'doSearchPass',
            type:'post',
            data:{'username':username,'email':email,'code':code},
            success:function(msg){
                if (msg.status == 200) {
                    location.href = "{:url('resetPass')}?username="+username+"&email="+email;
                }
                else{
                    $('#success_message').html('<h3>'+msg.msg+'</h3>');
                    $('#commit').attr('disabled',false);
                }
            }
        });

});
        
        
</script>
</body>
</html>