






<!--okokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokokok-->

{extend name="../application/index/view/public/_header2_layout.html" }

{block name="meta"}
<title>Transaction History</title>
<meta content="Transaction History" property="og:title">
{/block}



{block name="css"}
<style>
	.transaction-history .export-excel{
		text-align: right;
	}
</style>

{/block}

{block name="body"}
<div class="container transaction-history from-container-custom" data-fade="true">
	<div class="row module-title">
		<div>Transaction History</div>
	</div>
	<div class="row">
		<table class="table" width="100%" cellspacing="0" cellpadding="0">
			<thead>
			<tr>

				<td>First Name</td>
				<td>Phone</td>
				<td>Amount</td>
				<td>Usage</td>
				<td>Date</td>
			</tr>
			</thead>
			<tbody>
				{volist name='list' id='trans'}

				<tr>

					<td data-label="First Name">{$trans.firstName}</td>
					<td data-label="Phone">{$trans.phone}</td>

					<td data-label="Usage">{$trans.description}</td>
					<td data-label="Amount">{$trans.quantity * $trans.unitprice}</td>
					<td data-label="Date">{:substr($trans.created_at,0,-8)}</td>
				</tr>

				{/volist}
			</tbody>
		</table>

		<div class="custom-pager">
			{$list->render()}
		</div>

	</div>

	<div class="row export-excel">
		<button data-wait="Please wait..." class="btn custom-btn">Export CSV</button>
	</div>
</div>
{/block}

{block name="script"}

{/block}