<style type="text/css">

    .js-change-lang{
        width: 60px;
        height: 50px;
        display: block;
        text-align: center;
        vertical-align: middle;
        line-height:50px;
        text-decoration:none;
        color: black;
    } 
    .js-change-lang:hover{
        background:#E0E0E0;
        text-decoration:none;
    }
</style>
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/"><strong>Salesms</strong></a>
        </div>

        
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <?php $lang = isset($_COOKIE['think_var'])?$_COOKIE['think_var']:'zh-cn';?>
        <li>
        <div>
            <a href="#" id="en" lang="en" class="js-change-lang" <?php if($lang == 'en-us'){echo "style='background:#E8E8E8;text-decoration:none;color: #0000FF;font-weight: bold;'";}?>>Eng</a>
        </div>
        
        </li>
        <li>
            <div>
                <a href="#" id="zh" lang="cn" class="js-change-lang"<?php if($lang == 'zh-cn'){echo "style='background: #E8E8E8;
        text-decoration:none;color: #0000FF;font-weight: bold;'";}?>>中文</a>
            </div>
        
        </li>
        <li>
            <div>
                <a href="#" id="hk" lang="hk" class="js-change-lang"<?php if($lang == 'zh-hk'){echo "style='background: #E8E8E8;
        text-decoration:none;color: #0000FF;font-weight: bold;'";}?>>繁体</a>
            </div>
        
        </li>
      </ul>
    </div>
  
    </div>
  </nav>
  <script type="text/javascript">
      $('.js-change-lang').click(function(){
        var data={'lang':$(this).attr('lang')}
        $.get("{:url('lang')}",data,function(){
            location.reload();
        })
    })
  </script>
