<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
		<!--<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>-->
		<a href="javascript:;" onclick="admin_permission_add('添加权限节点','/admin456salesms.php/privilege/add','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
<table class="table table-border table-bordered table-bg">
    <thead>
    <tr>
        <th scope="col" colspan="7">权限节点</th>
    </tr>
    <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <th width="40">ID</th>
        <th width="200" style="text-align: left">权限名称</th>
        <th>字段名</th>
        <th width="100">操作</th>
    </tr>
    </thead>
    <tbody>
<!--***************************************-->
<?php foreach($data as $k=>$v):?>
<?php if($v['level'] ==0):?>
<tr class="text-c" id="tr{$v['id']}">

    <td><input type="checkbox" value="1" name=""></td>
    <td>{$v['id']}</td>
    <td style="text-align: left">{$v['pri_name']}</td>
    <td>{$v['module_name']}&nbsp;&nbsp;&nbsp;{$v['controller_name']}&nbsp;&nbsp;&nbsp;{$v['action_name']}</td>
    <td><a title="编辑" href="javascript:;" onclick="admin_permission_edit('权限编辑','/admin456salesms.php/privilege/edit?id={$v[\'id\']}','1','','410')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
        <a title="删除" href="javascript:;" onclick="admin_permission_del(this,'{$v[\'id\']}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
</tr>
<?php
					$childs =model("Privilege")->getChildren($v['id']);
?>

<?php endif;?>
<?php
			if(in_array($v['id'],$childs)):
			?>
<tr class="text-c" id="tr{$v['id']}">

    <td><input type="checkbox" value="1" name=""></td>
    <td>{$v['id']}</td>
    <td style="text-align: left">{:str_repeat('-', 8*$v['level']).$v['pri_name']}</td>
    <td>{$v['module_name']}&nbsp;&nbsp;&nbsp;{$v['controller_name']}&nbsp;&nbsp;&nbsp;{$v['action_name']}</td>
    <td><a title="编辑" href="javascript:;" onclick="admin_permission_edit('权限编辑','/admin456salesms.php/privilege/edit?id={$v[\'id\']}','1','','410')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
        <a title="删除" href="javascript:;" onclick="admin_permission_del(this,'{$v[\'id\']}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
</tr>
<?php endif;?>
<?php endforeach;?>
    </tbody>
</table>