{include file="../application/admin/view/public/_meta.html"}

<title>新建网站角色 - 管理员管理 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">



	<form action="" method="post" class="form form-horizontal" id="form-admin-role-eidt" onsubmit="return false">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级权限：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">

					<select class="select" size="1" name="parent_id">
						<option value="0" <?php if($priIdData['parent_id']==0){ echo "selected";}?>>顶级权限</option>
							<?php foreach ($parentData as $k => $v): ?>

						<option value="<?php echo $v['id']; ?>" <?php if($priIdData['parent_id']==$v['id']){ echo "selected";}?>><?php echo str_repeat('-', 8*$v['level']).$v['pri_name']; ?></option>

							<?php endforeach; ?>
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="hide" value="{$priIdData['id']}" placeholder=""  name="id">
				<input type="text" class="input-text" value="{$priIdData['pri_name']}" placeholder="" id="roleName" name="pri_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">对应的模块名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$priIdData['module_name']}" placeholder="" id="" name="module_name">

			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">对应的控制器名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$priIdData['controller_name']}" placeholder=""  name="controller_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">对应的方法名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$priIdData['action_name']}" placeholder=""  name="action_name">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" ><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="../application/admin/view/public/_footer.html"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/H-ui.admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    $("#admin-role-save").click(function () {
        datas=$("#form-admin-role-eidt").serialize();
        $.post('{:url("edit")}',{str:datas},function (data) {

            if(data.length>100){
                 parent.$(".page-container").html(data);
				layer.msg('修改成功',{icon:1,time:2000});
				setTimeout("layer_close()",1000);
			}else {
                layer.msg(data,{icon:1,time:2000});
			}
        });
    });

	// $(".permission-list dt input:checkbox").click(function(){
	// 	$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	// });
	// $(".permission-list2 dd input:checkbox").click(function(){
	// 	var l =$(this).parent().parent().find("input:checked").length;
	// 	var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
	// 	if($(this).prop("checked")){
	// 		$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
	// 		$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
	// 	}
	// 	else{
	// 		if(l==0){
	// 			$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
	// 		}
	// 		if(l2==0){
	// 			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
	// 		}
	// 	}
	// });

	// $("#form-admin-role-add").validate({
		// rules:{
		// 	roleName:{
		// 		required:true,
		// 	},
		// },
		// onkeyup:false,
		// focusCleanup:true,
		// success:"valid",
		// submitHandler:function(form){
		// 	$(form).ajaxSubmit();
		// 	var index = parent.layer.getFrameIndex(window.name);
		// 	parent.layer.close(index);
		// }
	// });
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>